<div class="container-fluid">

<p class="error_message" style="text-align:center"><%= @appointment.errors.full_messages.join(', ') %></p>
<%= form_for @appointment do |f| %>
  <div class="form-group">
  <%= f.label :date, "Fecha:", class: "col-md-3 control-label"   %>
    <div class="col-md-9">
  <%= f.date_field :date, class: "form-control" %>
  </div>
  </div>
  <div class="form-group">
    <%= f.label :field1, "Field1:", class: "col-md-3 control-label"  %>
      <div class="col-md-9">
    <%= f.text_field :field1, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :field2, "Field1:", class: "col-md-3 control-label"  %>
      <div class="col-md-9">
    <%= f.text_field :field2, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :field3, "Field1:", class: "col-md-3 control-label"  %>
      <div class="col-md-9">
    <%= f.text_field :field3, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :field4, "Field1:", class: "col-md-3 control-label"  %>
      <div class="col-md-9">
    <%= f.text_field :field4, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :field5, "Field1:", class: "col-md-3 control-label"  %>
      <div class="col-md-9">
    <%= f.text_field :field5, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :field6, "Field1:", class: "col-md-3 control-label"  %>
      <div class="col-md-9">
    <%= f.text_field :field6, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :field7, "Field1:", class: "col-md-3 control-label"  %>
      <div class="col-md-9">
    <%= f.text_field :field7, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :field8, "Field1:", class: "col-md-3 control-label"  %>
      <div class="col-md-9">
    <%= f.text_field :field8, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :field9, "Field1:", class: "col-md-3 control-label"  %>
      <div class="col-md-9">
    <%= f.text_field :field9, class: "form-control" %>
    </div>
  </div>

  <div style="display: none">
    <%= f.label :patient_id %>
      <div class="col-md-9">
        <% if @patient  %>
    <%= f.number_field :patient_id, value: @patient  %>
    <% else %>
    <%= f.number_field :patient_id %>

    <% end %>
    </div>
  </div>
  <div style="display: none">
    <%= f.label :user_id %>
    <%= f.number_field :user_id, value: current_user.id  %>
  </div>
  <div class="container col-xs-12">
  <%= f.submit "Guardar", class: "btn btn-default btn-primary pull-right"  %>
  </div>
<% end %>
</div>
